/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6a0dad;
    color: white;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  #loginHeaderUsername {
    font-size: 14px;
    font-style: italic;
  }
  
  /* Form Container */
  .form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    color: #6a0dad;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input:focus {
    border-color: #6a0dad;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2c2967;
  }
  
  #loginMessage {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  

  #registerMessage {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  /* Responsive Design */
  @media (max-width: 600px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    header nav a {
      margin: 5px 0;
    }
  
    .form-container {
      width: 90%;
      margin: 20px auto;
      padding: 15px;
    }
  }
  
  